


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<title>How to Use GridLayout</title>
<script language="JavaScript">
<!-- hide
function openWin(term) {
  url="../../information/glossary.html#" + term;
  myWin= window.open(url, "Glossary",
              "width=400,height=150,scrollbars=yes,status=no,toolbar=no,menubar=no");
  myWin.focus();
}
//-->
</script>
</head>
<body BGCOLOR="#ffffff" LINK="#000099">
<B><FONT SIZE="-1">The Java</font><sup><font size="-2">TM</font></sup> <font size="-1">Tutorial</FONT></B>
<br>
<table width="550">
<tr>
<td align="left" valign="center">
<a href="flow.html" target="_top"><img src="../../images/PreviousArrow.gif" width="26" height="26" align="center" border="0" alt="Previous Page"></a>
<a href="../TOC.html#layout" target="_top"><img src="../../images/TOCIcon.gif" width="26" height="26" align="center" border="0" alt="Lesson Contents"></a>
<a href="gridbag.html" target="_top"><img src="../../images/NextArrow.gif" width="26" height="26" align="center" border="0" alt="Next Page"></a></td>

<td align="center" valign="center">
<font size="-1">
<a href="../../index.html" target="_top">Start of Tutorial</a>
&gt;
<a href="../index.html" target="_top">Start of Trail</a>
&gt;
<a href="index.html" target="_top">Start of Lesson</a>
</font>
</td>

<td align="right" valign="center">
<font size="-1">
<a href="../../search.html" target="_top">Search</a>
<br><a href="../../forms/sendusmail.html">Feedback Form</a>
</font>
</td>

</tr>
</table>
<img src="../../images/blueline.gif" width="550" height="8" ALIGN="BOTTOM" NATURALSIZEFLAG="3">
<br>

<font size="-1">
<b>Trail</b>: Creating a GUI with JFC/Swing
<br>
<b>Lesson</b>: Laying Out Components Within a Container
</font>

<h2>
How to Use GridLayout
</h2>
<blockquote>
Here's an applet that shows a
<a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/java/awt/GridLayout.html"><font color="#8800bb"><code>GridLayout</code></font></a><a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/java/awt/GridLayout.html"><img src="../../images/apiIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the API reference documentation)"></a> in action.

<p>

<p><center><a href="GridDemo.html" target="_blank"><IMG SRC="../../figures/uiswing/layout/gridlayout.gif" WIDTH="379" HEIGHT="106" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="Click this figure to run the applet."></a><br><em>This is a picture of the applet's GUI.  To run the applet, click the picture.  The applet will appear in a new browser window.</em></center></p>
<p>

A <code>GridLayout</code> places components in a grid of cells.
Each component takes all the available space within its cell,
and each cell is exactly the same size.
If you resize the <code>GridLayout</code> window,
you'll see that the <code>GridLayout</code> changes the cell size
so that the cells are as large as possible,
given the space available to the container.

<p>

Below is the code 
that creates the <code>GridLayout</code> and the components it manages.
You can find the whole program in 

<a target="source" href="example-swing/GridWindow.java"><font color="#bb000f"><code>GridWindow.java</code></font></a><a href="example-swing/GridWindow.java"><img src="../../images/sourceIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in a .java source file)"></a>.
The program runs either within an applet
(with the help of

<a target="source" href="example-swing/AppletButton.java"><font color="#bb000f"><code>AppletButton</code></font></a><a href="example-swing/AppletButton.java"><img src="../../images/sourceIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in a .java source file)"></a>)
or as an application.
<p>

<blockquote><pre>
Container contentPane = getContentPane();

contentPane.setLayout(new GridLayout(0,2));

contentPane.add(new JButton("Button 1"));
contentPane.add(new JButton("2"));
contentPane.add(new JButton("Button 3"));
contentPane.add(new JButton("Long-Named Button 4"));
contentPane.add(new JButton("Button 5"));
</pre></blockquote>

The constructor tells the <code>GridLayout</code> class
to create an instance that has two columns
and as many rows as necessary.

</blockquote>
<h3>
<a name="api">The GridLayout API</a>
</h3>
<blockquote>
The <code>GridLayout</code> class has two constructors:

<blockquote><pre>
public GridLayout(int <em>rows</em>, int <em>columns</em>)
public GridLayout(int <em>rows</em>, int <em>columns</em>,
                  int <em>horizontalGap</em>, int <em>verticalGap</em>)
</pre></blockquote>

At least one of the <em><code>rows</code></em> and
<em><code>columns</code></em> arguments must be nonzero.
The <em><code>horizontalGap</code></em> and
<em><code>verticalGap</code></em> arguments to the second constructor
allow you to specify the number of pixels
between cells.
If you don't specify gaps,
their values default to zero.
In the applet above, any apparent gaps
are the result of the buttons reserving extra space
around their apparent display area.


</blockquote>
<h3>
<a name="eg">Examples that Use GridLayout</a>
</h3>
<blockquote>


The following table lists some of the 
examples that use grid layout.

<p>

<table>
<tr>
<th align=left> Example
</th>
<th align=left> Where Described
</th>
<th align=left> Notes

</th>
</tr>
<tr>
<td> <a href="example-swing/index.html#GridWindow"><code>GridWindow</code></a>
</td>
<td> This page
</td>
<td> Uses a 2-column grid.

</td>
</tr>
<tr>
<td> <a href="../components/example-swing/index.html#LabelDemo"><code>LabelDemo</code></a>
</td>
<td> 
<a target="_top" href="../components/label.html">How to Use Labels</a><a target="_top" href="../components/label.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the Creating a GUI with JFC/Swing trail)"></a></td>
<td> Uses a 3-row grid.

</td>
</tr>
<tr>
<td> <a href="../overview/example-swing/index.html#Converter"><code>Converter</code></a>
</td>
<td> 
<a target="_top" href="../overview/anatomy.html">The Anatomy of a Swing-Based Program</a><a target="_top" href="../overview/anatomy.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the Creating a GUI with JFC/Swing trail)"></a></td>
<td> Uses the 4-argument <code>GridLayout</code> constructor.

</td>
</tr>
</table>


</blockquote>

<img src="../../images/blueline.gif" width="550" height="8" ALIGN="BOTTOM" NATURALSIZEFLAG="3">
<br>
<table width="550">
<tr>
<td align="left" valign="center">
<a href="flow.html" target="_top"><img src="../../images/PreviousArrow.gif" width="26" height="26" align="center" border="0" alt="Previous Page"></a>
<a href="../TOC.html#layout" target="_top"><img src="../../images/TOCIcon.gif" width="26" height="26" align="center" border="0" alt="Lesson Contents"></a>
<a href="gridbag.html" target="_top"><img src="../../images/NextArrow.gif" width="26" height="26" align="center" border="0" alt="Next Page"></a></td>

<td align="center" valign="center">
<font size="-1">
<a href="../../index.html" target="_top">Start of Tutorial</a>
&gt;
<a href="../index.html" target="_top">Start of Trail</a>
&gt;
<a href="index.html" target="_top">Start of Lesson</a>
</font>
</td>

<td align="right" valign="center">
<font size="-1">
<a href="../../search.html" target="_top">Search</a>
<br><a href="../../forms/sendusmail.html">Feedback Form</a>
</font>
</td>

</tr>
</table>
</body>
</html>
