


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<title>How to Make Applets</title>
<script language="JavaScript">
<!-- hide
function openWin(term) {
  url="../../information/glossary.html#" + term;
  myWin= window.open(url, "Glossary",
              "width=400,height=150,scrollbars=yes,status=no,toolbar=no,menubar=no");
  myWin.focus();
}
//-->
</script>
</head>
<body BGCOLOR="#ffffff" LINK="#000099">
<B><FONT SIZE="-1">The Java</font><sup><font size="-2">TM</font></sup> <font size="-1">Tutorial</FONT></B>
<br>
<table width="550">
<tr>
<td align="left" valign="center">
<a href="dialog.html" target="_top"><img src="../../images/PreviousArrow.gif" width="26" height="26" align="center" border="0" alt="Previous Page"></a>
<a href="../TOC.html#components" target="_top"><img src="../../images/TOCIcon.gif" width="26" height="26" align="center" border="0" alt="Lesson Contents"></a>
<a href="intermediate.html" target="_top"><img src="../../images/NextArrow.gif" width="26" height="26" align="center" border="0" alt="Next Page"></a></td>

<td align="center" valign="center">
<font size="-1">
<a href="../../index.html" target="_top">Start of Tutorial</a>
&gt;
<a href="../index.html" target="_top">Start of Trail</a>
&gt;
<a href="index.html" target="_top">Start of Lesson</a>
</font>
</td>

<td align="right" valign="center">
<font size="-1">
<a href="../../search.html" target="_top">Search</a>
<br><a href="../../forms/sendusmail.html">Feedback Form</a>
</font>
</td>

</tr>
</table>
<img src="../../images/blueline.gif" width="550" height="8" ALIGN="BOTTOM" NATURALSIZEFLAG="3">
<br>

<font size="-1">
<b>Trail</b>: Creating a GUI with JFC/Swing
<br>
<b>Lesson</b>: Using Swing Components
</font>

<h2>
How to Make Applets
</h2>
<blockquote>
This section covers <code>JApplet</code> -- a
class that enables applets to use Swing components.
<code>JApplet</code> is a subclass of 
<a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/java/applet/Applet.html"><font color="#8800bb"><code>java.applet.Applet</code></font></a><a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/java/applet/Applet.html"><img src="../../images/apiIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the API reference documentation)"></a>, which is covered in the 
<a target="_top" href="../../applet/index.html">Writing Applets</a><a target="_top" href="../../applet/index.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the Creating a GUI with JFC/Swing trail)"></a> trail. If you've never written a regular applet before,
we urge you to read that trail
before proceeding with this section.
The information provided in that trail 
applies to Swing applets,
with a few exceptions that this section explains.

<p>

Any applet that contains Swing components must be
implemented with a subclass of 
<a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/javax/swing/JApplet.html"><font color="#8800bb"><code>JApplet</code></font></a><a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/javax/swing/JApplet.html"><img src="../../images/apiIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the API reference documentation)"></a>.
Here's a Swing version of one of the applets that helped make Java famous --
an applet that animates our mascot, Duke, doing cartwheels:

<p><center><a href="TumbleItem.html" target="_blank"><IMG SRC="../../figures/uiswing/components/T7.gif" WIDTH="130" HEIGHT="80" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="Click this figure to run the applet."></a><br><em>This is a picture of the applet's GUI.  To run the applet, click the picture.  The applet will appear in a new browser window.</em></center></p>
You can find the main source code for this applet in

<a target="source" href="example-swing/TumbleItem.java"><font color="#bb000f"><code>TumbleItem.java</code></font></a><a href="example-swing/TumbleItem.java"><img src="../../images/sourceIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in a .java source file)"></a>.
You will also need one other source file and the image files
that compose the animation.
See the <a href="example-swing/index.html#TumbleItem" target="_top">examples index</a> for links to all the files required by this example.

<p>

This section discusses the following topics:

<ul>
<li> <a href="#features">Features Provided by JApplet</a>
<li> <a href="#thread">Threads in Applets</a>
<li> <a href="#images">Using Images in a Swing Applet</a>
<li> <a href="#plugin">Providing an OBJECT/EMBED Tag for Java Plug-in</a>
<li> <a href="#api">The JApplet API</a>
<li> <a href="#eg">Applet Examples</a>
</ul>

<h3>
<a name="features">Features Provided by JApplet</a>
</h3>
<blockquote>
<code>JApplet</code> adds
two major features
to the functionality that
it inherits from <code>java.applet.Applet</code>.
First, Swing applets provide support for
<a target="_top" href="../misc/access.html">assistive technologies</a><a target="_top" href="../misc/access.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the Creating a GUI with JFC/Swing trail)"></a>.
Second, because <code>JApplet</code> is a top-level Swing container,
each Swing applet has a root pane.
The most noticeable results of the root pane's presence
are support for adding a <a href="menu.html">menu bar</a>
and the need to use a content pane.

<p>

As described in
<a href="toplevel.html">Using Top-Level Containers</a>,
each top-level container such as a <code>JApplet</code> 
has a single content pane.
The content pane makes Swing applets
different from regular applets in the following ways:
<ul>
<li> You add components to a Swing applet's content pane,
     not directly to the applet.
     <a href="toplevel.html#contentpane">Adding Components to the Content Pane</a>
     shows you how.
<li> You set the layout manager on a Swing applet's content pane,
     not directly on the applet.
<li> The default layout manager for a Swing applet's content pane is
     <code>BorderLayout</code>.
     This differs from the default layout manager for
     <code>Applet</code>, which is <code>FlowLayout</code>.
<li> You should not put painting code directly in a <code>JApplet</code>
     object.
     See 
<a target="_top" href="../converting/index.html">Converting to Swing</a><a target="_top" href="../converting/index.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the Creating a GUI with JFC/Swing trail)"></a> for information on converting applet painting code,  and
<a target="_top" href="../painting/index.html">Working with Graphics</a><a target="_top" href="../painting/index.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the Creating a GUI with JFC/Swing trail)"></a>     for examples of how to perform custom painting in applets.
</ul>


<blockquote><hr><strong>JDK 1.1 Note:</strong>&nbsp;
If you run a Swing applet using JDK 1.1 and JFC 1.1,
then you might see an error message
that looks like this:

<blockquote><pre>
Swing: checked access to system event queue.
</pre></blockquote>

You can often avoid this message
by telling the applet not to check whether it has access
to the system event queue.
To do so, put the following code in the constructor
for the applet class:

<blockquote><pre>
getRootPane().putClientProperty(
                  "defeatSystemEventQueueCheck",
                  Boolean.TRUE);
</pre></blockquote>

<hr></blockquote>

</blockquote>
<h3>
<a name="thread">Threads in Applets</a>
</h3>
<blockquote>
Because applets inherently use multiple threads
and Swing components aren't thread safe,
you should take care with threads in Swing applets.
It's generally considered safe to create and manipulate Swing
components directly in the <code>init</code> method.
However, the other milestone methods --
<code>start</code>,
<code>stop</code>,
and <code>destroy</code> --
might cause trouble 
when the browser invokes them after
the applet's already visible.
To avoid trouble,
you should make these methods thread safe.

<p>

For example, when you implement
a <code>stop</code> or <code>start</code> method,
be aware that the browser doesn't call them
from the event-dispatching thread.
Thus, those methods shouldn't affect or query Swing components directly.
Instead, they should use techniques
such as using the <code>SwingUtilities.invokeLater</code> method
to affect components.

<p>

For more information about using threads, see 
<a target="_top" href="../overview/threads.html">Threads and Swing</a><a target="_top" href="../overview/threads.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the Creating a GUI with JFC/Swing trail)"></a> and 
<a target="_top" href="../misc/threads.html">How to Use Threads</a><a target="_top" href="../misc/threads.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the Creating a GUI with JFC/Swing trail)"></a>.

</blockquote>
<h3>
<a name="images">Using Images in a Swing Applet</a>
</h3>
<blockquote>
The <code>Applet</code> class provides the
<code>getImage</code> method for
loading images into an applet.
The <code>getImage</code> method creates
and returns an <code>Image</code> object
that represents the loaded image.
Because Swing components use <code>Icon</code>s
rather than <code>Image</code>s to refer to pictures,
Swing applets tend not to use <code>getImage</code>.
Instead Swing applets create instances of
<code>ImageIcon</code>--an icon loaded from an image file.
<code>ImageIcon</code> comes with a code-saving benefit:
it handles image tracking automatically.
Refer to 
<a target="_top" href="../misc/icon.html">How to Use Icons</a><a target="_top" href="../misc/icon.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the Creating a GUI with JFC/Swing trail)"></a> for more information.

<p>
The animation of Duke doing cartwheels
requires 17 different pictures.
The applet uses one <code>ImageIcon</code> per picture
and loads them in its <code>init</code> method.
Because images can take a long time to load,
the icons are loaded in a separate thread
implemented by a 
<a target="_top" href="../misc/threads.html"><code>SwingWorker</code> object</a><a target="_top" href="../misc/threads.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the Creating a GUI with JFC/Swing trail)"></a>.
Here's the code:
<blockquote><pre>
public void init() {
    ...
    imgs = new ImageIcon[nimgs];
    final SwingWorker worker = new SwingWorker() {
        public Object construct() {
            URL baseURL = getCodeBase();
            String prefix = dir + "/T";
    
            //Images are numbered 1 to nimgs,
            //but fill array from 0 to nimgs-1
            for (int i = 0; i < nimgs; i++) {
                imgs[i] = new ImageIcon(getURL(baseURL,
                                               prefix + (i+1)
                                               + ".gif"));
            }
            finishedLoading = true;
            timer.start(); //Start the animation.
            return imgs;
        }
        ...
    };
    worker.start();
    ...
}
</pre></blockquote>

To create an <code>ImageIcon</code> and load it with an image,
you specify the image file's URL
to the <code>ImageIcon</code>'s constructor.
The <code>getURL</code> method is implemented as follows:
<blockquote><pre>
protected URL getURL(URL codeBase, String filename) {
    URL url = null;

    try {
        url = new URL(codeBase, filename);
    } catch (java.net.MalformedURLException e) {
        System.out.println("Couldn't create image: "
                           + "badly specified URL");
        return null;
    }

    return url;
}
</pre></blockquote>


</blockquote>
<h3>
<a name="plugin">Providing an OBJECT/EMBED Tag for Java Plug-in</a>
</h3>
<blockquote>
To run, an applet must be included in an HTML page.
If your applet's users have Swing-enabled browsers,
then you can include the applet in an HTML page with 
an &lt;APPLET&gt; tag.
Here's the &lt;APPLET&gt; tag for the cartwheeling
Duke applet:
<blockquote><pre>
&lt;applet code="TumbleItem.class" 
        codebase="example-swing/"
        archive="tumble.jar"
        width="600" height="95"&gt;
    &lt;param name="maxwidth" value="120"&gt;
    &lt;param name="nimgs" value="17"&gt;
    &lt;param name="offset" value="-57"&gt;
    &lt;param name="img" value="images/tumble"&gt;

Your browser is completely ignoring the &amp;lt;APPLET&amp;gt; tag!

&lt;/applet>
</pre></blockquote>
To find out about the various &lt;APPLET&gt; tag parameters, refer to
<a target="_top" href="../../applet/overview/test.html">Test Driving an Applet</a><a target="_top" href="../../applet/overview/test.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the Creating a GUI with JFC/Swing trail)"></a> and 
<a target="_top" href="../../applet/appletsonly/html.html">Using the APPLET Tag</a><a target="_top" href="../../applet/appletsonly/html.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the Creating a GUI with JFC/Swing trail)"></a>.
<p>
If your applet's users don't have a Swing-enabled
browser, then they'll need to use Java Plug-in to run the applet.
Java Plug-in requires that an applet be included in
an HTML page with
an &lt;OBJECT&gt; tag or &lt;EMBED&gt; tag.
You can download a free tool
that automatically generates the
necessary tags from an &lt;APPLET&gt; tag.
To download Java Plug-in and the HTML conversion tool,
and for related documentation,
go to the

<a target="other" href="http://java.sun.com/products/plugin/"><font color="#009bbb">Java Plug-in home page</font></a><a href="http://java.sun.com/products/plugin/"><img src="../../images/otherIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(outside of the tutorial)"></a> .
<p>
Because Plug-in can take a while to download and load
into the browser, it's considerate to give users advance
warning that a page contains an applet.
You might have noticed that the tutorial's applets
don't run the same page as the text that describes the applet.
Instead, we provide a
screenshot of the applet running and a link that brings
up a separate browser window in which to run the applet.
This provides a better experience because
they can choose whether or not to visit a page that
contains an applet.
</blockquote>
<h3>
<a name="api">The JApplet API</a>
</h3>
<blockquote>
The next table lists the interesting methods
that <code>JApplet</code> adds to the applet API.
They give you access to features provided by the root pane.
Other methods you might use are defined by the
<a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/java/awt/Component.html"><font color="#8800bb"><code>Component</code></font></a><a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/java/awt/Component.html"><img src="../../images/apiIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the API reference documentation)"></a> and
<a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/java/applet/Applet.html"><font color="#8800bb"><code>Applet</code></font></a><a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/java/applet/Applet.html"><img src="../../images/apiIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the API reference documentation)"></a> classes.
See <a href="jcomponent.html#apicomponent">Component Methods</a>
for a list of commonly used <code>Component</code> methods,
and
<a target="_top" href="../../applet/appletsonly/index.html">Taking Advantage of the Applet API</a><a target="_top" href="../../applet/appletsonly/index.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the Creating a GUI with JFC/Swing trail)"></a> for help in using <code>Applet</code> methods.

<p>

<table border=1>
<tr>
<th align=left>Method
</th>
<th align=left>Purpose

</th>
</tr>
<tr>
<td><font size=2><code>void setContentPane(Container)
    <br>
    Container getContentPane()</code></font>
</td>
<td>Set or get the applet's content pane.
    The content pane contains the applet's visible GUI components
    and should be opaque.

</td>
</tr>
<tr>
<td><font size=2><code>JRootPane createRootPane()
    <br>
    void setRootPane(JRootPane)
    <br>
    JRootPane getRootPane()
    </code></font>
</td>
<td>Create, set, or get the applet's root pane. The root pane
    manages the interior of the applet including the content pane,
    the glass pane, and so on.
 
</td>
</tr>
<tr>
<td><font size=2><code>void setJMenuBar(JMenuBar)
    <br>
    JMenuBar getJMenuBar()</code></font>
</td>
<td>Set or get the applet's menu bar
    to manage a set of menus for the frame.
 
</td>
</tr>
<tr>
<td><font size=2><code>void setGlassPane(Component)
    <br>
    Component getGlassPane()</code></font>
</td>
<td>Set or get the applet's glass pane.
    You can use the glass pane to intercept mouse events.

</td>
</tr>
<tr>
<td><font size=2><code>void setLayeredPane(JLayeredPane)
    <br>
    JLayeredPane getLayeredPane()</code></font>
</td>
<td>Set or get the applet's layered pane.
    You can use the frame's layered pane to put components on top of
    or behind other components.
</td>
</tr>
</table>

</blockquote>

<h3>
<a name="eg">Applet Examples</a>
</h3>
<blockquote>
This table shows examples of Swing applets
and where those examples are described.

<p>
<table>
<tr>
<th align=left> Example
</th>
<th align=left> Where Described
</th>
<th align=left> Notes

</th>
</tr>
<tr>
<td> <a href="example-swing/index.html#TumbleItem">
     <code>TumbleItem</code></a>
</td>
<td> This page
</td>
<td> An animation applet


</td>
</tr>
<tr>
<td> <a href="../start/example-swing/index.html#HelloSwingApplet">
     <code>HelloSwingApplet</code></a>
</td>
<td> 
<a target="_top" href="../start/swingApplet.html">Running Swing Applets</a><a target="_top" href="../start/swingApplet.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the Creating a GUI with JFC/Swing trail)"></a></td>
<td> The simplest of all Swing applets -- it contains only a label.

</td>
</tr>
<tr>
<td> <a href="../start/example-swing/index.html#AppletDemo">
     <code>AppletDemo</code></a>
</td>
<td> 
<a target="_top" href="../start/swingApplet.html">Running Swing Applets</a><a target="_top" href="../start/swingApplet.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the Creating a GUI with JFC/Swing trail)"></a></td>
<td> The applet version of the
     <a href="button.html">button</a> demo program.
     Can be run either as an application or as an applet.

</td>
</tr>
<tr>
<td> <a href="../misc/example-swing/index.html#IconDemoApplet">
     <code>IconDemoApplet</code></a>
</td>
<td> 
<a target="_top" href="../misc/icon.html">How to Use Icons</a><a target="_top" href="../misc/icon.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the Creating a GUI with JFC/Swing trail)"></a></td>
<td> An applet for showing photos.

</td>
</tr>
<tr>
<td> Several examples.
</td>
<td>   
<a target="_top" href="../layout/using.html">Using Layout Managers</a><a target="_top" href="../layout/using.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the Creating a GUI with JFC/Swing trail)"></a></td>
<td> You can run several applets from the page listed.
     Each applet demonstrates a different layout manager.

</td>
</tr>
<tr>
<td> Several examples.
</td>
<td>   
<a target="_top" href="../events/intro.html">Some Simple Event-Handling Examples</a><a target="_top" href="../events/intro.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the Creating a GUI with JFC/Swing trail)"></a></td>
<td> You can run several applets from the page listed.
     Each applet shows how to handle different types of events.

</td>
</tr>
</table>



</blockquote>

<img src="../../images/blueline.gif" width="550" height="8" ALIGN="BOTTOM" NATURALSIZEFLAG="3">
<br>
<table width="550">
<tr>
<td align="left" valign="center">
<a href="dialog.html" target="_top"><img src="../../images/PreviousArrow.gif" width="26" height="26" align="center" border="0" alt="Previous Page"></a>
<a href="../TOC.html#components" target="_top"><img src="../../images/TOCIcon.gif" width="26" height="26" align="center" border="0" alt="Lesson Contents"></a>
<a href="intermediate.html" target="_top"><img src="../../images/NextArrow.gif" width="26" height="26" align="center" border="0" alt="Next Page"></a></td>

<td align="center" valign="center">
<font size="-1">
<a href="../../index.html" target="_top">Start of Tutorial</a>
&gt;
<a href="../index.html" target="_top">Start of Trail</a>
&gt;
<a href="index.html" target="_top">Start of Lesson</a>
</font>
</td>

<td align="right" valign="center">
<font size="-1">
<a href="../../search.html" target="_top">Search</a>
<br><a href="../../forms/sendusmail.html">Feedback Form</a>
</font>
</td>

</tr>
</table>
</body>
</html>
