


<body bgcolor="#ffffff">

</blockquote>
<h3>
<a name="window">
Top-Level Containers
</a>
</h3>
<table border="0">
    <tr align="CENTER" valign="BOTTOM"> 
	<td>
<IMG SRC="../../figures/uiswing/components/T7.gif" WIDTH="130" HEIGHT="80" ALT="Applet image">        </td>

<td>
<IMG SRC="../../figures/uiswing/components/cg-optionpane.gif" WIDTH="137" HEIGHT="97" ALT="JOptionPane image"></td>
<td>
<IMG SRC="../../figures/uiswing/components/smframedemo.gif" WIDTH="160" HEIGHT="93" ALT="JFrame image"></td>
</tr>

    </tr>
<tr align="CENTER" valign="BOTTOM"> 
        <td><a target="_top" href="applet.html">Applet</a></td>
        </td>
<td><a target="_top" href="dialog.html">Dialog</a></td>
        </td>
<td><a target="_top" href="frame.html">Frame</a></td>
    </td>
</tr>
</tr>
</table>

<p>

<br>
<h3>
<a name="generalcontainer">
General-Purpose Containers
</a>
</h3>
<table border="0">
    <tr align="CENTER" valign="BOTTOM"> 
<td>
<IMG SRC="../../figures/uiswing/components/smpanel.gif" WIDTH="217" HEIGHT="80" ALT="JPanel image"></td>
<td>
<IMG SRC="../../figures/uiswing/components/cg-scrollpane.gif" WIDTH="143" HEIGHT="97" ALT="JScrollPane image"></td>
        
    </tr>
<tr align="CENTER" valign="BOTTOM"> 
        <td><a target="_top" href="panel.html">Panel</a><P></td>
       
<td><a target="_top" href="scrollpane.html">Scroll pane</a><P></td>
        

    </tr>
<tr align="CENTER" valign="BOTTOM"> 

<td>
<IMG SRC="../../figures/uiswing/components/cg-splitpane.gif" WIDTH="140" HEIGHT="101" ALT="JSplitPane image"></td>
        <td>
<IMG SRC="../../figures/uiswing/components/cg-tabbedpane.gif" WIDTH="134" HEIGHT="100" ALT="JTabbedPane image">
</td>
       

    </tr>
<tr align="CENTER" valign="BOTTOM"> 
<td><a target="_top" href="splitpane.html">Split pane</a><P></td>
    </td>

        <td><a target="_top" href="tabbedpane.html">Tabbed pane</a><P></td>
        </td>
</TR>       
        
<tr align="CENTER" valign="BOTTOM"> 
<td>
<IMG SRC="../../figures/uiswing/components/cg-toolbar.gif" WIDTH="138" HEIGHT="42" ALT="JToolBar image"></td>
</tr>
<TR></TR>
<tr align="CENTER" valign="BOTTOM"> 
<td><a target="_top" href="toolbar.html">Tool bar</a></td>
</tr>
</table>
<p>

<br>
<h3>
<a name="specialcontainer">
Special-Purpose Containers
</a>
</h3>
<table border="0">
    <tr align="CENTER" valign="BOTTOM"> 
        <td>
<IMG SRC="../../figures/uiswing/components/sminternalframe.gif" WIDTH="252" HEIGHT="160" ALT="JInternalFrame image">    </td>

<td>
<IMG SRC="../../figures/uiswing/components/smlayeredpane.gif" WIDTH="272" HEIGHT="193" ALT="JLayeredPane image"></td>


</tr>

    </tr>
<tr align="CENTER" valign="BOTTOM"> 
        <td><a target="_top" href="internalframe.html">Internal frame</a></td>
        </td>
<td><a target="_top" href="layeredpane.html">Layered pane</a></td>
    </td>
</tr>
    </tr>
<tr align="CENTER" valign="BOTTOM"> 
<td colspan = "2">
<IMG SRC="../../figures/uiswing/components/smrootpane.gif" WIDTH="350" HEIGHT="123" ALT="Representation of JRootPane"></td>
    
</tr>
<tr align="CENTER" valign="BOTTOM"> 
        <td colspan ="2"><a target="_top" href="rootpane.html">Root pane</a></td>
    
</tr>
</tr>
</table>
<p>

<br>
<h3>
<a name="basic">
Basic Controls
</a>
</h3>

<table border="0">
    <tr align="CENTER" valign="BOTTOM"> 
        <td>
<IMG SRC="../../figures/uiswing/components/cg-buttons.gif" WIDTH="131" HEIGHT="113" ALT="JButton image">
</td>
        </td>
<td>
<IMG SRC="../../figures/uiswing/components/cg-combobox.gif" WIDTH="138" HEIGHT="110" ALT="JComboBox image"></td>
        </td>
<td>
<IMG SRC="../../figures/uiswing/components/cg-list.gif" WIDTH="109" HEIGHT="79" ALT="JList image"></td>
    </td>
</tr>

    </tr>
<tr align="CENTER" valign="BOTTOM"> 
        <td><a target="_top" href="button.html">Buttons</a></td>
        </td>
<td><a target="_top" href="combobox.html">Combo box</a></td>
        </td>
<td><a target="_top" href="list.html">List</a></td>

    </td>
</tr>
<tr align="CENTER" valign="BOTTOM"> 
        <td>
<IMG SRC="../../figures/uiswing/components/cg-menu.gif" WIDTH="132" HEIGHT="80" ALT="JMenu image"></td>
        </td>
<td>
<IMG SRC="../../figures/uiswing/components/cg-slider.gif" WIDTH="100" HEIGHT="53" ALT="JSlider image"></td>
        </td>
<td>
<IMG SRC="../../figures/uiswing/components/cg-textfield.gif" WIDTH="124" HEIGHT="100" ALT="JTextField image">
</td>
    </td>
</tr>
    </tr>
<tr align="CENTER" valign="BOTTOM"> 
        <td><a target="_top" href="menu.html">Menu</a></td>
        </td>
<td><a target="_top" href="slider.html">Slider</a></td>
        </td>
<td>
<a target="_top" href="textfield.html">Text fields</a>
    </td>
</tr>
</tr>
</table>
<p>

<br>
<h3>
<a name="display">
Uneditable Information Displays
</a>
</h3>
<table border="0">
    <tr align="CENTER" valign="BOTTOM"> 
        <td>
<IMG SRC="../../figures/uiswing/components/cg-label.gif" WIDTH="139" HEIGHT="91" ALT="JLabel image"></td>
        </td>
<td>
<IMG SRC="../../figures/uiswing/components/cg-progressbar.gif" WIDTH="121" HEIGHT="24" ALT="JProgressBar image"></td>
        </td>
<td align="CENTER" valign="BOTTOM">
<IMG SRC="../../figures/uiswing/components/cg-tooltip.gif" WIDTH="75" HEIGHT="100" ALT="JToolTip image">
</td>
    </td>
</tr>
    </tr>
<tr align="CENTER" valign="BOTTOM"> 
        <td><a target="_top" href="label.html">Label</a></td>
        </td>
<td><a target="_top" href="progress.html">Progress bar</a></td>
        </td>
<td><a target="_top" href="tooltip.html">Tool tip</a></td>
    </td>
</tr>
</tr>
</table>
<p>

<br>
<h3>
<a name="complex">
Editable Displays of Formatted Information
</a>
</h3>
<table border="0">
    <tr align="CENTER" valign="BOTTOM">
	<td>

<IMG SRC="../../figures/uiswing/components/smcolorchooser.gif" WIDTH="183" HEIGHT="150" ALT="Color Chooser Image">	</td>
<td colspan="2">
<IMG SRC="../../figures/uiswing/components/smfilechooser.gif" WIDTH="301" HEIGHT="157" ALT="File Chooser Image">
        </td>


</tr>
    </tr>
<tr align="CENTER" valign="BOTTOM"> 
        <td><a target="_top" href="colorchooser.html">Color chooser</a></td>
        </td>
<td colspan="2"><a target="_top" href="filechooser.html">File chooser</a></td>
        </td>

</tr>
    </tr>
<tr align="CENTER" valign="BOTTOM"> 
       
<td>
<IMG SRC="../../figures/uiswing/components/cg-table.gif" WIDTH="132" HEIGHT="94" ALT="JTable image"></td>

 <td>
<IMG SRC="../../figures/uiswing/components/cg-textarea.gif" WIDTH="143" HEIGHT="96" ALT="JTextArea image"></td>

<td>
<IMG SRC="../../figures/uiswing/components/cg-tree.gif" WIDTH="133" HEIGHT="88" ALT="JTree image"></td>
    </td>
</tr>
    </tr>
<tr align="CENTER" valign="BOTTOM"> 
<td><a target="_top" href="table.html">Table</a></td>
    </td>
        <td><a target="_top" href="text.html">Text</a>
        </td>
<td><a target="_top" href="tree.html">Tree</a></td>
    </td>
</tr>
</tr>
</table>
<p>

</body>
