


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<title>Using Swing Components</title>
<script language="JavaScript">
<!-- hide
function openWin(term) {
  url="../../information/glossary.html#" + term;
  myWin= window.open(url, "Glossary",
              "width=400,height=150,scrollbars=yes,status=no,toolbar=no,menubar=no");
  myWin.focus();
}
//-->
</script>
</head>
<body BGCOLOR="#ffffff" LINK="#000099">
<B><FONT SIZE="-1">The Java</font><sup><font size="-2">TM</font></sup> <font size="-1">Tutorial</FONT></B>
<br>
<table width="550">
<tr>
<td align="left" valign="center">
<a href="../overview/index.html" target="_top"><img src="../../images/PreviousArrow.gif" width="26" height="26" align="center" border="0" alt="Previous Page"></a>
<a href="../TOC.html#components" target="_top"><img src="../../images/TOCIcon.gif" width="26" height="26" align="center" border="0" alt="Lesson Contents"></a>
<a href="components.html" target="_top"><img src="../../images/NextArrow.gif" width="26" height="26" align="center" border="0" alt="Next Page"></a></td>

<td align="center" valign="center">
<font size="-1">
<a href="../../index.html" target="_top">Start of Tutorial</a>
&gt;
<a href="../index.html" target="_top">Start of Trail</a>
</font>
</td>

<td align="right" valign="center">
<font size="-1">
<a href="../../search.html" target="_top">Search</a>
<br><a href="../../forms/sendusmail.html">Feedback Form</a>
<br><a href="example-swing/index.html" target="_top">Examples Index</a>
</font>
</td>

</tr>
</table>
<img src="../../images/blueline.gif" width="550" height="8" ALIGN="BOTTOM" NATURALSIZEFLAG="3">

<br>
<font size="-1">
<b>Trail</b>: Creating a GUI with JFC/Swing
</font>

<h2>
Lesson: Using Swing Components
</h2>
<blockquote>
This lesson describes every Swing component.
All of these sections assume that you've successfully
compiled and run a program that uses Swing components,
and that you're familiar with Swing concepts.
These prerequisites are covered in 
<a target="_top" href="../start/index.html">Getting Started with Swing</a><a target="_top" href="../start/index.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the Creating a GUI with JFC/Swing trail)"></a> and
<a target="_top" href="../overview/index.html">Swing Features and Concepts</a><a target="_top" href="../overview/index.html"><img src="../../images/tutorialIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the Creating a GUI with JFC/Swing trail)"></a>.

</blockquote>
<h3>
<a href="components.html">A Visual Index to the Swing Components</a>
</h3>
<blockquote>
This section has a picture of each Swing component,
from top-level containers to intermediate containers
to atomic components.
To find the section that discusses a particular component,
just click the component's picture.
</blockquote>

<h3>
<a href="jcomponent.html">The JComponent Class</a>
</h3>
<blockquote>
Almost all Swing components 
inherit from the <code>JComponent</code> class.
This section tells you about the features <code>JComponent</code>
provides,
and gives tips on how to take advantage of those features.

</blockquote>

<h3>
<a href="toplevel.html">Using Top-Level Containers</a>
</h3>
<blockquote>
Discusses how to create windows and applets.
</blockquote>

<h3>
<a href="intermediate.html">Using Intermediate Swing Containers</a>
</h3>
<blockquote>
Discusses how to use intermediate containers
to group or add features to other components.
</blockquote>

<h3>
<a href="widgets.html">Using Atomic Components</a>
</h3>
<blockquote>
Discusses the rest of the Swing components,
which are generally the components
that users interact with when using your GUI.
</blockquote>

<h3>
<a href="problems.html">Solving Common Component Problems</a>
</h3>
<blockquote>
This section discusses solutions to common component-related problems.


</blockquote>

<img src="../../images/blueline.gif" width="550" height="8" ALIGN="BOTTOM" NATURALSIZEFLAG="3">
<br>
<table width="550">
<tr>
<td align="left" valign="center">
<a href="../overview/index.html" target="_top"><img src="../../images/PreviousArrow.gif" width="26" height="26" align="center" border="0" alt="Previous Page"></a>
<a href="../TOC.html#components" target="_top"><img src="../../images/TOCIcon.gif" width="26" height="26" align="center" border="0" alt="Lesson Contents"></a>
<a href="components.html" target="_top"><img src="../../images/NextArrow.gif" width="26" height="26" align="center" border="0" alt="Next Page"></a></td>

<td align="center" valign="center">
<font size="-1">
<a href="../../index.html" target="_top">Start of Tutorial</a>
&gt;
<a href="../index.html" target="_top">Start of Trail</a>
</font>
</td>

<td align="right" valign="center">
<font size="-1">
<a href="../../search.html" target="_top">Search</a>
<br><a href="../../forms/sendusmail.html">Feedback Form</a>
<br><a href="example-swing/index.html" target="_top">Examples Index</a>
</font>
</td>

</tr>
</table>
</body>
</html>
