


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<title>How to Use Scroll Panes</title>
<script language="JavaScript">
<!-- hide
function openWin(term) {
  url="../../information/glossary.html#" + term;
  myWin= window.open(url, "Glossary",
              "width=400,height=150,scrollbars=yes,status=no,toolbar=no,menubar=no");
  myWin.focus();
}
//-->
</script>
</head>
<body BGCOLOR="#ffffff" LINK="#000099">
<B><FONT SIZE="-1">The Java</font><sup><font size="-2">TM</font></sup> <font size="-1">Tutorial</FONT></B>
<br>
<table width="550">
<tr>
<td align="left" valign="center">
<a href="panel.html" target="_top"><img src="../../images/PreviousArrow.gif" width="26" height="26" align="center" border="0" alt="Previous Page"></a>
<a href="../TOC.html#components" target="_top"><img src="../../images/TOCIcon.gif" width="26" height="26" align="center" border="0" alt="Lesson Contents"></a>
<a href="splitpane.html" target="_top"><img src="../../images/NextArrow.gif" width="26" height="26" align="center" border="0" alt="Next Page"></a></td>

<td align="center" valign="center">
<font size="-1">
<a href="../../index.html" target="_top">Start of Tutorial</a>
&gt;
<a href="../index.html" target="_top">Start of Trail</a>
&gt;
<a href="index.html" target="_top">Start of Lesson</a>
</font>
</td>

<td align="right" valign="center">
<font size="-1">
<a href="../../search.html" target="_top">Search</a>
<br><a href="../../forms/sendusmail.html">Feedback Form</a>
</font>
</td>

</tr>
</table>
<img src="../../images/blueline.gif" width="550" height="8" ALIGN="BOTTOM" NATURALSIZEFLAG="3">
<br>

<font size="-1">
<b>Trail</b>: Creating a GUI with JFC/Swing
<br>
<b>Lesson</b>: Using Swing Components
</font>

<h2>
How to Use Scroll Panes
</h2>
<blockquote>

A
<a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/javax/swing/JScrollPane.html"><font color="#8800bb"><code>JScrollPane</code></font></a><a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/javax/swing/JScrollPane.html"><img src="../../images/apiIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the API reference documentation)"></a> provides a scrollable view of a component.
When screen real estate is limited,
use a scroll pane to display
a component that is large or
one whose size can change dynamically.
<p>
The code to create a scroll pane can be minimal.
For example, here's a picture of a demo program that
puts a text area in a scroll pane
because the text area's size grows dynamically
as text is appended to it:

<p><center><IMG SRC="../../figures/uiswing/components/ToolBarDemo.gif" WIDTH="411" HEIGHT="129" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="A snapshot of ToolBarDemo"></center></p>
Here's the code that creates the text area,
makes it the scroll pane's client,
and adds the scroll pane to the frame:
<blockquote><pre>
textArea = new JTextArea(5, 30);
JScrollPane scrollPane = new JScrollPane(textArea);
...
<strong>contentPane.setPreferredSize(new Dimension(400, 100));</strong>
...
contentPane.add(scrollPane, BorderLayout.CENTER);
</pre></blockquote>
The program provides the text area as an argument to
<code>JScrollPane</code>'s constructor.
This establishes the text area as the scroll pane's client.
The scroll pane handles everything else:
creating the scroll bars when necessary,
redrawing the client when the user moves the scroll knobs,
and so on.
<p>
Without the bold line of code,
the scroll pane would compute its preferred size so that the
text area, at its preferred size,
would fit entirely within the scroll pane.
Consequently, the scroll pane would have no scroll bars.
The bold line sets the preferred size
of the scroll pane's container
such that the scroll pane is forced
into a shorter-than-preferred area.
Thus when the program first appears onscreen,
the scroll pane has a vertical scroll bar.
Refer to
<a href="#sizing">Sizing a Scroll Pane</a>
for information about using other techniques
for making a scroll pane the size you want.

<p>
The rest of this section discusses the following topics:

<ul>
<li> <a href="#operation">How a Scroll Pane Works</a>
<li> <a href="#scrollbars">Setting the Scroll Bar Policy</a>
<li> <a href="#decorations">Providing Custom Decorations</a>
<li> <a href="#scrollable">Implementing a Scrolling-Savvy Client</a>
<li> <a href="#sizing">Sizing a Scroll Pane</a>
<li> <a href="#update">Dynamically Changing the Client's Size</a>
<li> <a href="#api">The Scroll Pane API</a>
<li> <a href="#eg">Examples that Use Scroll Panes</a>
</ul>

<a name="operation">
</blockquote>
<h3>How a Scroll Pane Works</h3>
</a>
<blockquote>
Here is a snapshot of an application
that uses a customized scroll pane
to view a large photograph:

<p><center><IMG SRC="../../figures/uiswing/components/ScrollDemo.gif" WIDTH="353" HEIGHT="321" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="A snapshot of ScrollDemo"></center></p>
The scroll pane in this application looks very different
from the one in the previous demo program.
Rather than displaying text, this scroll pane contains a large image.
The scroll pane also has two scroll bars, a row header, a column header,
and four corners, three of which have been customized.


<blockquote><hr><strong>Try this:</strong>&nbsp;
<ol>
<li> Compile and run the application.
     The main source file is
     
<a target="source" href="example-swing/ScrollDemo.java"><font color="#bb000f"><code>ScrollDemo.java</code></font></a><a href="example-swing/ScrollDemo.java"><img src="../../images/sourceIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in a .java source file)"></a>.
     You also need a few other source files and an image file.
See the <a href="example-swing/index.html#ScrollDemo" target="_top">examples index</a> for links to all the files required by this example.     <br>
     See <a href="../start/index.html" target="_top">Getting Started with Swing</a> if you need help compiling or running this application.

<li> Move the knobs on the scroll bars.
     Watch the image scroll and the horizontal and vertical rulers scroll along.
<li> Click the <strong>cm</strong> toggle in the upper left corner
     of the scroll pane.
     The units on the row and column headers change to inches
     (or back to centimeters).
<li> Click the arrow buttons on the scroll bars.
     Also, try clicking on the track above or below the knob
     on the vertical scroll bar, or to the left or right of the horizontal one.
<li> Resize the window.
     Notice that the scroll bars disappear when the scroll pane
     is large enough to display the entire image
     and reappear again when the scroll pane is too small to
     show the entire client.
   
</ol>
<hr></blockquote>
This program establishes the scroll pane's client
when creating the scroll pane:
<blockquote><pre>
// <em>where the member variables are declared</em>
private ScrollablePicture picture;
...
        // <em>where the GUI is created</em>
        picture = new ScrollablePicture(<em> ... </em>);
        JScrollPane pictureScrollPane = new JScrollPane(picture);
</pre></blockquote>
You can change a scroll pane's client dynamically by calling the
<code>setViewportView</code> method.
Note that <code>JScrollPane</code>
has no corresponding
<code>getViewportView</code> method,
so you should cache the client object in a variable
if you need to refer to it later.

<p>
When the user manipulates the scroll bars in a scroll pane,
the area of the client that is visible changes accordingly.
This picture shows the relationship between the scroll pane
and its client and indicates the
classes that the scroll pane commissions to help:

<p><center><IMG SRC="../../figures/uiswing/components/scrollarchitecture.gif" WIDTH="531" HEIGHT="334" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="The architecture of a scroll pane"></center></p>
A scroll pane uses a
<a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/javax/swing/JViewport.html"><font color="#8800bb"><code>JViewport</code></font></a><a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/javax/swing/JViewport.html"><img src="../../images/apiIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the API reference documentation)"></a> instance to manage the visible area of the client.
The viewport is responsible for
computing the bounds of the current visible area,
based on the positions
of the scroll bars,
and displaying it.
<p>
A scroll pane uses two separate instances of 
<a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/javax/swing/JScrollBar.html"><font color="#8800bb"><code>JScrollBar</code></font></a><a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/javax/swing/JScrollBar.html"><img src="../../images/apiIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the API reference documentation)"></a> for the scroll bars. The scroll bars provide the
interface for the user to manipulate the visible area.
The following figure shows the three areas of a scroll bar:
the knob, the buttons, and the track.

<p><center><IMG SRC="../../figures/uiswing/components/scrollbarparts.gif" WIDTH="248" HEIGHT="109" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="The parts of a scroll bar"></center></p>
When the user moves the knob on the vertical scroll bar up and down,
the visible area of the client moves up and down. Similarly, when the user
moves the knob on the horizontal scroll bar to the right and
left, the visible area of the client moves back and forth accordingly.
The position of the knob relative to its track
is proportionally equal to
the position of the visible area relative to the client.
In the Java Look & Feel and some others,
the size of the knob gives a visual clue
as to how much of the client is visible.
<p>
By clicking a button,
the user can scroll by a <em>unit increment</em>.
By clicking within the track,
the user can scroll by a <em>block increment</em>.
Information about unit and block increments is in
<a href="#scrollable">Implementing a Scrolling-Savvy Client</a>.
<p>
Typical programs don't directly instantiate or
call methods on a viewport or scroll bar.
Instead, programs achieve their scrolling
behavior using the <code>JScrollPane</code> API 
and the API discussed in 
<a href="#scrollable">Implementing a Scrolling-Savvy Client</a>.
Some scrolling-savvy components such as
<code>JList</code>, <code>JTable</code>,
and <code>JTree</code> also provide additional
API to help you affect their scrolling behavior.
</blockquote>

<a name="scrollbars">
<h3>Setting the Scroll Bar Policy</h3>
</a>
<blockquote>
On startup, the scroll pane in the <code>ScrollDemo</code>
application has two scroll bars.
If you make the window as large as your screen,
both scroll bars disappear because they are no longer needed.
If you then shrink the height of the window without
changing its width,
the vertical scroll bar reappears.
Further experimentation will show that
in this application
both scroll bars disappear and reappear as needed.
This behavior is controlled by the scroll pane's
<em>scroll bar policy</em>,
Actually, it's two policies:
you specify the policy
for each scroll bar separately.
<p>
<code>ScrollDemo</code> doesn't explicitly set
the scroll pane's sroll bar policies--it uses the default.
But you can set the policies when you create the scroll pane
or change them dynamically.
<p>
Of the constructors provided by <code>JScrollPane</code>,
these two let you set the scroll bar policies
when you create the scroll pane:
<blockquote><pre>
JScrollPane(Component, int, int)
JScrollPane(int, int)
</pre></blockquote>
The first <code>int</code> specifies the policy for the vertical
scroll bar, the second specifies the policy for the horizontal scroll bar.
You can also set the policies dynamically with the
<code>setHorizontalScrollBarPolicy</code>
and 
<code>setVerticalScrollBarPolicy</code> methods.
With both the constructors and the methods, use
one of the following constants defined
in the 
<a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/javax/swing/ScrollPaneConstants.html"><font color="#8800bb"><code>ScrollPaneConstants</code></font></a><a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/javax/swing/ScrollPaneConstants.html"><img src="../../images/apiIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the API reference documentation)"></a> interface (which is implemented by <code>JScrollPane</code>):
<p>
<table>
<tr>
<th align=left>Policy<th align=left>Description

</th>
</tr>
<tr>
<td valign=top><font size=-1><code>VERTICAL_SCROLLBAR_AS_NEEDED</code></font>
    <br>
    <font size=-1><code>HORIZONTAL_SCROLLBAR_AS_NEEDED</font></code>
</td>
<td valign=top>The default.
    The scroll bar appears when the viewport is smaller than the client
    and disappears when the viewport is larger than the client.

</td>
</tr>
<tr>
<td valign=top><font size=-1><code>VERTICAL_SCROLLBAR_ALWAYS</code></font>
    <br>
    <font size=-1><code>HORIZONTAL_SCROLLBAR_ALWAYS</code></font>
</td>
<td valign=top>Always display the scroll bar.
    The knob disappears if the viewport is large enough
    to show the whole client.

</td>
</tr>
<tr>
<td valign=top><font size=-1><code>VERTICAL_SCROLLBAR_NEVER</code></font>
    <br>
    <font size=-1><code>HORIZONTAL_SCROLLBAR_NEVER</code></font>
</td>
<td valign=top>Never display the scroll bar.
    Use this option if you don't want the user to directly control
    what part of the client is shown. Perhaps you have an application
    that requires all scrolling to occur programmatically.

</td>
</tr>
</table>

</blockquote>

<a name="decorations">
<h3>Providing Custom Decorations</h3>
</a>
<blockquote>
The area drawn by a scroll pane consists of up to nine parts:
the center, four sides, and four corners.
The center is the only component that is always
present in all scroll panes.
Besides scroll bars,
the sides can contain
column and row headers.
A corner component is visible
only if both sides that intersect at that corner
contain visible components.

<p><center><IMG SRC="../../figures/uiswing/components/scrollpanedecorations.gif" WIDTH="508" HEIGHT="333" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="Decorations on a scroll pane"></center></p>
As shown in the figure, the scroll pane in <code>ScrollDemo</code>
has custom row and column headers.
Additionally, because all four sides are populated,
all four corners are present.
The program customizes three of the corners--two
just fill their area with the same color as the <code>Rule</code>s,
and the other contains a toggle button.
The fourth corner, the lower right corner,
is the default provided by the scroll pane.
Notice that because the row and column headers are always present
in this example, that
the toggle button is also always present.

<p>

If a corner contains a control
that the user needs access to all the time,
make sure the sides that intersect at the corner are always present.
For example,
if this application placed the toggle
in the lower right corner where the scroll bars intersect,
then the toggle would disappear if the user
resized the window and even one of the scroll bars disappeared.
<p>
The scroll pane's row and column headers are provided
by a custom <code>JComponent</code> subclass,

<a target="source" href="example-swing/Rule.java"><font color="#bb000f"><code>Rule</code></font></a><a href="example-swing/Rule.java"><img src="../../images/sourceIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in a .java source file)"></a>,
that draws a ruler in centimeters or inches.
Here's the code that creates and sets the scroll pane's row
and column headers:
<blockquote><pre>
<em>//...where the member variables are defined:</em>
private Rule columnView;
private Rule rowView;
...
    <em>//...where the GUI is initialized:</em>
    ImageIcon david = new ImageIcon("images/youngdad.jpeg");
    ...
    // Create the row and column headers
    columnView = new Rule(Rule.HORIZONTAL, true);
    columnView.setPreferredWidth(david.getIconWidth());
    rowView = new Rule(Rule.VERTICAL, true);
    rowView.setPreferredHeight(david.getIconHeight());
    ...
    <strong>pictureScrollPane.setColumnHeaderView(columnView);</strong>
    <strong>pictureScrollPane.setRowHeaderView(rowView);</strong>
    ...
</pre></blockquote>
You can use any component
for a scroll pane's row and column headers.
The scroll pane puts the row and column headers
in <code>JViewPort</code>s of their own.
Thus, when scrolling horizontally, the column header follows along,
and when scrolling vertically, the row header follows along.
<p>
As a <code>JComponent</code> subclass,
our custom <code>Rule</code> class puts its rendering code
in its <code>paintComponent</code> method.
Careful scrutiny of the code reveals that special
effort is taken to draw only within the current clipping bounds.
Your custom row and column headers should do the same
to ensure speedy scrolling.
<p>
You can also use any component for the corners of a scroll pane.
<code>ScrollDemo</code> illustrates this by putting a toggle
button in the upper left corner,
and custom

<a target="source" href="example-swing/Corner.java"><font color="#bb000f"><code>Corner</code></font></a><a href="example-swing/Corner.java"><img src="../../images/sourceIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in a .java source file)"></a>
objects in the upper right and lower left corners.
Here's the code that creates
the <code>Corner</code> objects and calls <code>setCorner</code> to place them:
<blockquote><pre>
// Create the corners.
JPanel buttonCorner = new JPanel();
isMetric = new JToggleButton("cm", true);
isMetric.setFont(new Font("SansSerif", Font.PLAIN, 11));
isMetric.setMargin(new Insets(2,2,2,2));
isMetric.addItemListener(new UnitsListener());
buttonCorner.add(isMetric); //Use the default FlowLayout
...
// Set the corners.
<strong>pictureScrollPane.setCorner(JScrollPane.UPPER_LEFT_CORNER, 
                            buttonCorner);
pictureScrollPane.setCorner(JScrollPane.LOWER_LEFT_CORNER,
                            new Corner());
pictureScrollPane.setCorner(JScrollPane.UPPER_RIGHT_CORNER,
                            new Corner());</strong>
</pre></blockquote>
Remember that the size of each corner is determined by
the size of the sides intersecting there.
For some components
you must take care that the specific instance
of the component fits in its corner.
For example, the program sets the font and margins
on the toggle button so that
it fits within the space established by the headers.
It's not an issue with the <code>Corner</code> class
because that class colors its entire bounds,
whatever they happen to be, with a solid color.
<p>
As you can see from the code, constants indicate the corner positions.
This figure shows the constant for each position:

<p><center><IMG SRC="../../figures/uiswing/components/6corverns.gif" WIDTH="508" HEIGHT="132" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="Corner constants"></center></p>
The constants are defined in the 
<a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/javax/swing/ScrollPaneConstants.html"><font color="#8800bb"><code>ScrollPaneConstants</code></font></a><a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/javax/swing/ScrollPaneConstants.html"><img src="../../images/apiIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the API reference documentation)"></a> interface, which <code>JScrollPane</code> implements.
</blockquote>

<a name="scrollable">
<h3>Implementing a Scrolling-Savvy Client</h3>
</a>
<blockquote>
To customize the way that a client component interacts 
with its scroll pane,
you can make the component implement the 
<a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/javax/swing/Scrollable.html"><font color="#8800bb"><code>Scrollable</code></font></a><a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/javax/swing/Scrollable.html"><img src="../../images/apiIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the API reference documentation)"></a> interface.
By implementing <code>Scrollable</code>,
a client can specify both
the size of the viewport used to view it
and the amount to scroll for clicks on the different controls on a scroll bar.
<p>
Here again are the three control areas of a scroll bar:
the knob, the buttons, and the track.

<p><center><IMG SRC="../../figures/uiswing/components/scrollbarparts.gif" WIDTH="248" HEIGHT="109" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="The parts of a scroll bar"></center></p>
You might have noticed when manipulating the scroll bars
in <code>ScrollDemo</code> that clicking the buttons
scrolls the image to a tick boundary. You might also
have noticed that clicking in the track scrolls the
picture by a "screenful". More generally, the button
scrolls the visible area by a <em>unit increment</em> and the track
scrolls the visible area by a <em>block increment</em>.
The behavior you see in the example is not the scroll pane's default
behavior, but is specified by the client
in its implementation of the <code>Scrollable</code> interface.
<p>
The client for the <code>ScrollDemo</code> program is

<a target="source" href="example-swing/ScrollablePicture.java"><font color="#bb000f"><code>ScrollablePicture</code></font></a><a href="example-swing/ScrollablePicture.java"><img src="../../images/sourceIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in a .java source file)"></a>.
<code>ScrollablePicture</code> is a subclass of <code>JLabel</code>
that provides implementations of all five <code>Scrollable</code> methods:

<ul>
<li> <code>getScrollableBlockIncrement</code>
<li> <code>getScrollableUnitIncrement</code>
<li> <code>getPreferredScrollableViewportSize</code>
<li> <code>getScrollableTracksViewportHeight</code>
<li> <code>getScrollableTracksViewportWidth</code>
</ul>

<code>ScrollablePicture</code> implements the <code>Scrollable</code>
interface primarily to affect the unit and block increments.
However, it must provide implementations for all five methods.
So it provides reasonable defaults for the other three methods
that you might want to copy for your scrolling-savvy classes.
<p>
The scroll pane calls the client's
<code>getScrollableUnitIncrement</code>
method whenever the user clicks
one of the buttons on the scroll bar.
This method returns the number of pixels to scroll.
An obvious implementation of this method returns the
number of pixels between tick marks on the header rulers.
But <code>ScrollablePicture</code> does something different:
It returns the value required to position the image on
a tick mark boundary. Here's the implementation:
<blockquote><pre>
public int getScrollableUnitIncrement(Rectangle visibleRect,
                                      int orientation,
                                      int direction) {
    //get the current position
    int currentPosition = 0;
    if (orientation == SwingConstants.HORIZONTAL)
        currentPosition = visibleRect.x;
    else
        currentPosition = visibleRect.y;

    //return the number of pixels between currentPosition
    //and the nearest tick mark in the indicated direction
    if (direction < 0) {
        int newPosition = currentPosition -
                         (currentPosition / maxUnitIncrement) *
                          maxUnitIncrement;
        return (newPosition == 0) ? maxUnitIncrement : newPosition;
    } else {
        return ((currentPosition / maxUnitIncrement) + 1) * 
                 maxUnitIncrement - currentPosition;
    }
}
</pre></blockquote>
If the image is already on a tick mark boundary, this method returns
the number of pixels between ticks. Otherwise, it returns the number
of pixels from the current location to the nearest tick.
<p>
Likewise,
the scroll pane calls the client's <code>getScrollableBlockIncrement</code>
method each time the user clicks on the track.
Here's
<code>ScrollablePicture</code>'s implementation of this method:
<blockquote><pre>
public int getScrollableBlockIncrement(Rectangle visibleRect,
                                       int orientation,
                                       int direction) {
    if (orientation == SwingConstants.HORIZONTAL)
        return visibleRect.width - maxUnitIncrement;
    else
        return visibleRect.height - maxUnitIncrement;
}
</pre></blockquote>
This method returns the height of the visible rectangle minus a tick mark.
This behavior is typical. A block increment should be slightly smaller
than the viewport to leave a little of the previous visible area for context.
For example, a text area might leave one or two lines of text for context
and a table might leave a row or column (depending on the scroll direction).
<p>
These Swing components implement the <code>Scrollable</code> interface:
<ul>
<li><a href="list.html">lists</a>
<li><a href="table.html">tables</a>
<li><a href="text.html">text components</a>
<li><a href="tree.html">trees</a>
</ul>
Some of these classes include
<a href="#otherAPI">other methods related to scrolling</a>.
</blockquote>

<a name="sizing">
<h3>Sizing a Scroll Pane</h3>
</a>
<blockquote>
Unless you explicitly set a scroll pane's preferred size,
the scroll pane computes it
based on the preferred size of its nine components
(the viewport, and, if present, the two scroll bars,
the row and column headers, and the four corners).
The largest factor,
and the one most programmers care about,
is the size of the viewport used to display the client.
<p>
If the client is not scrolling-savvy,
then the scroll pane sizes itself so that
the client displays at its preferred size.
For typical unsavvy clients,
this makes the scroll pane redundant.
That is, the scroll pane has no scroll bars
because the client's preferred size 
is big enough to display the entire client.
In this case,
if the client doesn't change size dynamically,
you should probably limit the size of the
scroll pane by setting its preferred size
or the preferred size of its container.
<p>
If the client is scrolling-savvy,
then the scroll pane uses the value returned by the client's
<code>getPreferredScrollableViewportSize</code>
method to compute the size of its viewport.
Implementations of this method
generally report a preferred size for scrolling
that's smaller than the component's standard preferred size.
For example, by default, the value returned by
<code>JList</code>'s implementation of
<code>getPreferredScrollableViewportSize</code>
is just big enough to display eight rows.
<p>
Scrolling-savvy classes, like
<a href="list.html">lists</a>,
<a href="table.html">tables</a>,
<a href="text.html">text components</a>, and
<a href="tree.html">trees</a>,
often provide one or more methods
that let programmers affect the size returned from
<code>getPreferredScrollableViewportSize</code>.
For example,
you can set the number of visible rows in a list
or a tree by calling the
<code>setVisibleRowCount</code>.
The list or tree takes care of figuring out the
size needed to display that number of rows.

<p>

Refer to the
<a href="#otherAPI">Methods in Other Classes Related to Scrolling</a> 
for information about scrolling-related methods
provided by classes other than <code>JScrollPane</code>.
And remember -- if you don't like the value that 
<code>getPreferredScrollableViewportSize</code> returns,
you can always set the preferred size of the scroll pane
or its container.
</blockquote>

<a name="update">
<h3>Dynamically Changing the Client's Size</h3>
</a>
<blockquote>
Changing the size of a scroll pane's client
is a two-step process.
First, set the client's preferred size. Then,
call <code>revalidate</code> on the client to
let the scroll pane know that it should update itself
and its scroll bars.
Let's look at an example.
<p>
Here's a picture of an application
that changes the client's size whenever the user places
a circle whose bounds fall outside of the client's current bounds.
The program also changes the client's size when the user clears
the drawing area:

<p><center><IMG SRC="../../figures/uiswing/components/ScrollDemo2.gif" WIDTH="332" HEIGHT="261" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="A snapshot of ScrollDemo2"></center></p>
You can find the full source code for this example in

<a target="source" href="example-swing/ScrollDemo2.java"><font color="#bb000f"><code>ScrollDemo2.java</code></font></a><a href="example-swing/ScrollDemo2.java"><img src="../../images/sourceIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in a .java source file)"></a>,
which is based on an example provided by tutorial reader John Vella.
<p>
Here's the code that changes the drawing area's
size when necessary:
<blockquote><pre>
if (changed) {
    //Update client's preferred size because the area taken up
    //by the graphics has gotten larger or smaller (if cleared)
    drawingArea.setPreferredSize(<em>/* the new size */</em>);

    //This lets the scroll pane know to update itself
    //and its scroll bars.
    drawingArea.revalidate();
}
</pre></blockquote>
Note that when the client changes size,
the scroll bars adjust.
The scroll pane doesn't resize, nor does the viewport.
<p>
Refer to
<a href="example-swing/index.html#SplitPaneDemo">
<code>SplitPaneDemo</code></a> for another example in which
the client object changes size.
</blockquote>

<h3>
<a name="api">The Scroll Pane API</a>
</h3>
<blockquote>
The following tables list the commonly used
<code>JScrollPane</code> constructors and methods.
Other methods you are most likely to invoke on
a <code>JScrollPane</code> object are those
such as <code>setPreferredSize</code>
that its superclasses provide.
See
<a href="jcomponent.html#api">The JComponent API</a>
for tables of commonly used inherited methods.
<p>

The API for using scroll panes falls into these categories:

<ul>
<li><a href="#setup">Setting Up the Scroll Pane</a>
<li><a href="#decorationsAPI">Decorating the Scroll Pane</a>
<li><a href="#scrollableAPI">Implementing the Scrollable Interface</a>
<li><a href="#otherAPI">Methods in Other Classes Related to Scrolling</a>
</ul>

<p>

<table border=1>
<caption><a name="setup">Setting Up the Scroll Pane</a></caption>
<tr>
<th align=left>Method
</th>
<th align=left>Purpose

</th>
</tr>
<tr>
<td><font size=2><code>JScrollPane()
    <br>
    JScrollPane(Component)
    <br>
    JScrollPane(int, int)
    <br>
    JScrollPane(Component, int, int)</code></font>
</td>
<td>Create a scroll pane.
    The <code>Component</code> parameter, when present, sets
    the scroll pane's client.
    The two <code>int</code> parameters, when present, set the
    vertical and horizontal scroll bar policies (respectively).

</td>
</tr>
<tr>
<td><font size=2><code>void setViewportView(Component)</code></font>
</td>
<td>Set the scroll pane's client.

</td>
</tr>
<tr>
<td><font size=2><code>void setVerticalScrollBarPolicy(int)
    <br>
    int getVerticalScrollBarPolicy()</code></font>
</td>
<td>Set or get the vertical scroll policy.
    <code>ScrollPaneConstants</code> defines three values
    for specifying this policy:
    <code>VERTICAL_SCROLLBAR_AS_NEEDED<code> (the default),
    <code>VERTICAL_SCROLLBAR_ALWAYS<code>, and
    <code>VERTICAL_SCROLLBAR_NEVER<code>.

</td>
</tr>
<tr>
<td><font size=2><code>void setHorizontalScrollBarPolicy(int)
    <br>
    int getHorizontalScrollBarPolicy()</code></font>
</td>
<td>Set or get the horizontal scroll policy.
    <code>ScrollPaneConstants</code> defines three values
    for specifying this policy:
    <code>HORIZONTAL_SCROLLBAR_AS_NEEDED<code> (the default),
    <code>HORIZONTAL_SCROLLBAR_ALWAYS<code>, and
    <code>HORIZONTAL_SCROLLBAR_NEVER<code>.

</td>
</tr>
<tr>
<td><font size=2><code>void setViewportBorder(Border)
    <br>
    Border getViewportBorder()</code></font>
</td>
<td>Set or get the border around the viewport.

</td>
</tr>
</table>

<p>
<table border=1>
<caption><a name="decorationsAPI">Decorating the Scroll Pane</a></caption>
<tr>
<th align=left>Method
</th>
<th align=left>Purpose

</th>
</tr>
<tr>
<td><font size=2><code>void setColumnHeaderView(Component)
    <br>
    void setRowHeaderView(Component)</code></font>
</td>
<td>Set the column or row header for the scroll pane.

</td>
</tr>
<tr>
<td><font size=2><code>void setCorner(Component, int)
    <br>
    Component getCorner(int)</code></font>
</td>
<td>Set or get the corner specified.
    The <code>int</code> parameter specifies which corner
    and must be one of the following constants defined in
    <code>ScrollPaneConstants</code>:
    <code>UPPER_LEFT_CORNER</code>,
    <code>UPPER_RIGHT_CORNER</code>,
    <code>LOWER_LEFT_CORNER</code>, and
    <code>LOWER_RIGHT_CORNER</code>.
</td>
</tr>
</table>

<p>
<table border=1>
<caption><a name="scrollableAPI">Implementing the Scrollable Interface</a></caption>
<tr>
<th align=left>Method
</th>
<th align=left>Purpose

</th>
</tr>
<tr>
<td><font size=2><code>int getScrollableUnitIncrement(Rectangle, int, int)
    <br>
    int getScrollableBlockIncrement(Rectangle, int, int)</code></font>
</td>
<td>Get the unit or block increment in pixels.
    The <code>Rectangle</code> parameter is the bounds of the
    currently visible rectangle.
    The first <code>int</code> parameter is either
    <code>SwingConstants.HORIZONTAL</code> or
    <code>SwingConstants.VERTICAL</code> depending on what scroll bar
    the user clicked on.
    The second <code>int</code> parameter indicates which direction
    to scroll. A value less than 0 indicates up or left. A value
    greater than 0 indicates down or right.

</td>
</tr>
<tr>
<td><font size=2><code>Dimension getPreferredScrollableViewportSize()</code></font>
</td>
<td>Get the preferred size of the viewport.
    This allows the client to influence
    the size of the viewport in which it is displayed.
    If the viewport size is unimportant,
    implement this method to return <code>getPreferredSize</code>.

</td>
</tr>
<tr>
<td><font size=2><code>boolean getScrollableTracksViewportWidth()
    <br>
    boolean getScrollableTracksViewportHeight()</code></font>
</td>
<td>Get whether the scroll pane should force the client to be the same
    width or height as the viewport.
    A return value of <code>true</code>
    from either of these methods effectively disallows
    horizontal or vertical scrolling (respectively).

</td>
</tr>
</table>

<p>
<table border=1>
<caption><a name="otherAPI">Methods in Other Classes Related to Scrolling</a></caption>
<tr>
<th align=left>Method
</th>
<th align=left>Purpose

</th>
</tr>
<tr>
<td><font size=2><code>void scrollRectToVisible(Rectangle)</code></font>
    <br>
    <em>(in <code>JComponent</code>)</em>

</td>
<td>If the component is in a container that supports scrolling,
    such as a scroll pane,
    then calling this method scrolls the scroll pane
    such that the specified rectangle is visible.

</td>
</tr>
<tr>
<td><font size=2><code>void setAutoscrolls(boolean)
    <br> 
    boolean getAutoScrolls()</code></font>
    <br> 
    <em>(in <code>JComponent</code>)</em>
 
</td>
<td>Set or get whether the component automatically scrolls
    when the user drags the component with the mouse.
    Even if autoscrolling is turned on,
    autoscrolling works only
    when the component is in a container that supports scrolling.

</td>
</tr>
<tr> 
<td><font size=2><code>void setVisibleRowCount(int)
    <br>
    int getVisibleRowCount()</code></font>
    <br>  
    <em>(in <code>JList</code>)</em> 
  
</td>
<td>Set or get how many rows of the list are visible.
    The <code>getPreferredScrollableViewportSize</code> method
    uses the visible row count to compute its return value.

</td>
</tr>
<tr>  
<td><font size=2><code>void ensureIndexIsVisible(int)
    </code></font>
    <br>   
    <em>(in <code>JList</code>)</em>  
  
</td>
<td>Scroll so that the row at the specified index is visible.
    This method calls <code>scrollRectToVisible</code>
    and works only if the list is in a container that supports scrolling.

</td>
</tr>
<tr>
<td><font size=2><code>void setVisibleRowCount(int)
    <br>
    int getVisibleRowCount()</code></font>
    <br>
    <em>(in <code>JTree</code>)</em>
  
</td>
<td>Set or get how many rows of the tree are visible.
    The <code>getPreferredScrollableViewportSize</code> method
    uses the visible row count to compute its return value.

</td>
</tr>
<tr>
<td><font size=2><code>void scrollPathToVisible(TreePath)
    <br>
    void scrollRowToVisible(int)
    </code></font>
    <br>
    <em>(in <code>JTree</code>)</em>
 
</td>
<td>Scroll so that the specified tree path or
    row at the specified index is visible.
    These methods call <code>scrollRectToVisilbe</code>.   
    and work only if the tree is in a container that supports scrolling.

</td>
</tr>
<tr> 
<td><font size=2><code>void setScrollsOnExpand(boolean) 
    <br> 
    boolean getScrollsOnExpand() 
    </code></font> 
    <br> 
    <em>(in <code>JTree</code>)</em>
  
</td>
<td>Set or get whether scrolling occurs automatically when
    the user expands a node. True by default.
    This feature works only when the tree is in a container
    that supports scrolling.

</td>
</tr>
<tr> 
<td><font size=2><code>void setPreferredScrollableViewportSize(Dimension) 
    </code></font> 
    <br> 
    <em>(in <code>JTable</code>)</em>
  
</td>
<td>Set the value to be returned by
    <code>getPreferredScrollableViewportSize</code>.
</td>
</tr>
</table>
</blockquote>

<h3>
<a name="eg">Examples that Use Scroll Panes</a>
</h3>
<blockquote>
This table shows the examples that use <code>JScrollPane</code>
and where those examples are described.
<p>
<table>
<tr>
<th align=left> Example
</th>
<th align=left> Where Described
</th>
<th align=left> Notes

</th>
</tr>
<tr>
<td> <a href="example-swing/index.html#ToolBarDemo"><code>ToolBarDemo</code></a>
</td>
<td> This section,<br>
     <a href="toolbar.html">How to Use Tool Bars</a>
</td>
<td> Shows a simple, yet typical, use of a scroll pane.

</td>
</tr>
<tr>
<td> <a href="example-swing/index.html#ScrollDemo"><code>ScrollDemo</code></a>
</td>
<td> This section
</td>
<td> Uses many of scroll pane's bells and whistles.

</td>
</tr>
<tr>
<td> <a href="example-swing/index.html#ScrollDemo2"><code>ScrollDemo2</code></a>
</td>
<td> This section
</td>
<td> Shows how change the client's size.

</td>
</tr>
<tr>
<td> <a href="example-swing/index.html#SplitPaneDemo"><code>SplitPaneDemo</code></a>
</td>
<td> <a href="splitpane.html">How to Use Split Panes</a>,<br>
     <a href="list.html">How to Use Lists</a>
</td>
<td> Puts a list and a label in a scroll pane.
     Also, shows how to handle the case
     when a scroll pane's client changes size.

</td>
</tr>
<tr>
<td> <a href="example-swing/index.html#TableDemo"><code>TableDemo</code></a>
</td>
<td> <a href="table.html">How to Use Tables</a>
</td>
<td> Puts a table in a scroll pane.

</td>
</tr>
<tr>
<td> <a href="example-swing/index.html#TextSamplerDemo"><code>TextSamplerDemo</code></a>
</td>
<td> <a href="simpletext.html">An Example of Using Each Text Component</a>
</td>
<td> Puts a text area, an editor pane,
     and a text pane each in a scroll pane.

</td>
</tr>
<tr>
<td> <a href="example-swing/index.html#TreeDemo"><code>TreeDemo</code></a>
</td>
<td> <a href="tree.html">How to Use Trees</a>
</td>
<td> Puts a tree in a scroll pane.

</td>
</tr>
</table>

</blockquote>


</blockquote>

<img src="../../images/blueline.gif" width="550" height="8" ALIGN="BOTTOM" NATURALSIZEFLAG="3">
<br>
<table width="550">
<tr>
<td align="left" valign="center">
<a href="panel.html" target="_top"><img src="../../images/PreviousArrow.gif" width="26" height="26" align="center" border="0" alt="Previous Page"></a>
<a href="../TOC.html#components" target="_top"><img src="../../images/TOCIcon.gif" width="26" height="26" align="center" border="0" alt="Lesson Contents"></a>
<a href="splitpane.html" target="_top"><img src="../../images/NextArrow.gif" width="26" height="26" align="center" border="0" alt="Next Page"></a></td>

<td align="center" valign="center">
<font size="-1">
<a href="../../index.html" target="_top">Start of Tutorial</a>
&gt;
<a href="../index.html" target="_top">Start of Trail</a>
&gt;
<a href="index.html" target="_top">Start of Lesson</a>
</font>
</td>

<td align="right" valign="center">
<font size="-1">
<a href="../../search.html" target="_top">Search</a>
<br><a href="../../forms/sendusmail.html">Feedback Form</a>
</font>
</td>

</tr>
</table>
</body>
</html>
