


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<title>How to Use Tool Tips</title>
<script language="JavaScript">
<!-- hide
function openWin(term) {
  url="../../information/glossary.html#" + term;
  myWin= window.open(url, "Glossary",
              "width=400,height=150,scrollbars=yes,status=no,toolbar=no,menubar=no");
  myWin.focus();
}
//-->
</script>
</head>
<body BGCOLOR="#ffffff" LINK="#000099">
<B><FONT SIZE="-1">The Java</font><sup><font size="-2">TM</font></sup> <font size="-1">Tutorial</FONT></B>
<br>
<table width="550">
<tr>
<td align="left" valign="center">
<a href="textapi.html" target="_top"><img src="../../images/PreviousArrow.gif" width="26" height="26" align="center" border="0" alt="Previous Page"></a>
<a href="../TOC.html#components" target="_top"><img src="../../images/TOCIcon.gif" width="26" height="26" align="center" border="0" alt="Lesson Contents"></a>
<a href="tree.html" target="_top"><img src="../../images/NextArrow.gif" width="26" height="26" align="center" border="0" alt="Next Page"></a></td>

<td align="center" valign="center">
<font size="-1">
<a href="../../index.html" target="_top">Start of Tutorial</a>
&gt;
<a href="../index.html" target="_top">Start of Trail</a>
&gt;
<a href="index.html" target="_top">Start of Lesson</a>
</font>
</td>

<td align="right" valign="center">
<font size="-1">
<a href="../../search.html" target="_top">Search</a>
<br><a href="../../forms/sendusmail.html">Feedback Form</a>
</font>
</td>

</tr>
</table>
<img src="../../images/blueline.gif" width="550" height="8" ALIGN="BOTTOM" NATURALSIZEFLAG="3">
<br>

<font size="-1">
<b>Trail</b>: Creating a GUI with JFC/Swing
<br>
<b>Lesson</b>: Using Swing Components
</font>

<h2>
How to Use Tool Tips
</h2>
<blockquote>
Creating a tool tip for any <code>JComponent</code>
is easy.
You just use the <code>setToolTipText</code> method
to set up a tool tip for the component.
For example, to add tool tips to three buttons,
you add only three lines of code:

<blockquote><pre>
b1.setToolTipText("Click this button to disable the middle button.");
b2.setToolTipText("This middle button does nothing when you click it.");
b3.setToolTipText("Click this button to enable the middle button.");
</pre></blockquote>

When the user of the program 
pauses with the cursor over any of the program's buttons,
the tool tip for the button comes up.
You can see this by running the <code>ButtonDemo</code> example,
which is explained in
<a href="button.html">How to Use Buttons, Check Boxes, and Radio Buttons</a>.
Here's a picture of the tool tip 
that appears when the cursor pauses over the left button
in <code>ButtonDemo</code>:

<p><center><IMG SRC="../../figures/uiswing/components/ButtonDemo-TT.gif" WIDTH="531" HEIGHT="89" ALIGN="BOTTOM" NATURALSIZEFLAG="3" ALT="ButtonDemo showing a tool tip."></center></p>
[Please imagine a cursor over the left button.  Thank you.]

<p>

For components
such as tabbed panes
that have multiple parts,
it often makes sense to vary the tool-tip text
to reflect the part of the component
under the cursor.
For example,
a tabbed pane might use this feature
to explain what will happen when you click the tab 
under the cursor.
When you implement a tabbed pane,
you specify the tab-specific tool-tip text in an argument to
the <code>addTab</code> method.

<p>

Even in components that have no API for setting part-specific tool-tip text,
you can generally do the job yourself.
If the component supports renderers,
then you can set the tool tip text on a custom renderer.
An alternative that works for all <code>JComponent</code>s
is creating a subclass of the component
and overriding its
<code>getToolTipText(MouseEvent)</code> method.


</blockquote>
</blockquote>
<h3>
<a name="api">The Tool Tip API</a>
</h3>
<blockquote>

Most of the API you need to set up tool tips
is in the <code>JComponent</code> class,
and thus is inherited by most Swing components.
More tool-tip API is in individual classes
such as <code>JTabbedPane</code>.
In general, those APIs are sufficient
for specifying and displaying tool tips;
you usually don't need to deal directly with the implementing classes,
<a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/javax/swing/JToolTip.html"><font color="#8800bb"><code>JToolTip</code></font></a><a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/javax/swing/JToolTip.html"><img src="../../images/apiIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the API reference documentation)"></a> and
<a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/javax/swing/ToolTipManager.html"><font color="#8800bb"><code>ToolTipManager</code></font></a><a target="apidoc" href="http://java.sun.com/products/j2se/1.3/docs/api/javax/swing/ToolTipManager.html"><img src="../../images/apiIcon.gif" width=11 height=11 border=0 align="ABSMIDDLE" alt="(in the API reference documentation)"></a>.

<p>

The following table lists the <code>JComponent</code>
tool tip API.
For information on individual components' support
for tool tips,
see the how-to section for the component in question.

<p>

<table border=1>
<caption><a name="JComponent">Tool Tip API in <code>JComponent</code></a></caption>
<tr>
<th>Method
</th>
<th>Purpose

</th>
</tr>
<tr>
<td><font size=2><code>setToolTipText(String)</code>
    <br>
    (in <code>JComponent</code>)</font>
</td>
<td>If the specified string is non-null,
    then this method registers the component
    as having a tool tip
    and makes the tool tip (when displayed)
    have the specified text.
    If the argument is null,
    then this method turns off tool tips for this component.

</td>
</tr>
<tr>
<td><font size=2><code>String getToolTipText()</code>
    <br>
    (in <code>JComponent</code>)</font>
</td>
<td>Returns the string
    that was previously specified with <code>setToolTipText</code>.

</td>
</tr>
<tr>
<td><font size=2><code>String getToolTipText(MouseEvent)</code>
    <br>
    (in <code>JComponent</code>)</font>
</td>
<td>By default, returns the same value returned by
    <code>getToolTipText()</code>.
    Multi-part components such as 
    <a href="tabbedpane.html"><code>JTabbedPane</code></a>,
    <a href="table.html"><code>JTable</code></a>,
    and <a href="tree.html"><code>JTree</code></a>
    override this method to return a string
    associated with the mouse event location.
    For example, each tab in a tabbed pane
    can have different tool-tip text.

</td>
</tr>
<tr>
<td><font size=2><code>Point getToolTipLocation(MouseEvent)</code>
    <br>
    (in <code>JComponent</code>)</font>
</td>
<td>Get the location (in the receiving component's coordinate system)
    where the upper left corner of the component's tool tip will appear.
    The argument is the event that caused the tool tip 
    to be shown.
    The default return value is null,
    which tells the Swing system to choose a location.

</td>
</tr>
</table>

<p>

</blockquote>
<h3>
<a name="eg">Examples that Use Tool Tips</a>
</h3>
<blockquote>
This table shows some examples that use tool tips
and where those examples are described.
<p>
<table>
<tr>
<th align=left> Example
</th>
<th align=left> Where Described
</th>
<th align=left> Notes

</th>
</tr>
<tr>
<td> <a href="example-swing/index.html#ButtonDemo"><code>ButtonDemo</code></a>
</td>
<td> This section and
     <a href="button.html">How to Use Buttons, Check Boxes, and Radio Buttons</a>
</td>
<td> Uses a tool tip to provide instructions for a button.


</td>
</tr>
<tr>
<td> <a href="../misc/example-swing/index.html#IconDemoApplet">
     <code>IconDemoApplet</code></a>
</td>
<td> <a href="../misc/icon.html">How to Use Icons</a>
</td>
<td> Uses a tool tip in a label to provide name and size information for an image.

</td>
</tr>
<tr>
<td> <a href="example-swing/index.html#TabbedPaneDemo">
     <code>TabbedPaneDemo</code></a>
</td>
<td> <a href="tabbedpane.html">How to Use Tabbed Panes</a>
</td>
<td> Uses an argument to the <code>addTab</code> method
     to specify tool tip text for each tab.

</td>
</tr>
<tr>
<td> <a href="example-swing/index.html#TableRenderDemo">
     <code>TableRenderDemo</code></a>
</td>
<td> <a href="table.html#custom">Further Customizing Table Display and Event Handling</a>
</td>
<td> Adds tool tips to a table using custom renderers and editors. 

</td>
</tr>
<tr>
<td> <a href="example-swing/index.html#TreeIconDemo2">
     <code>TreeIconDemo2</code></a>
</td>
<td> <a href="tree.html#display">Customizing a Tree's Display</a>
</td>
<td> Adds tool tips to a tree using a custom renderer. 

</td>
</tr>
<tr>
<td> <a href="../misc/example-swing/index.html#ActionDemo">
     <code>ActionDemo</code></a>
</td>
<td> <a href="../misc/action.html">How to Use Actions</a>
</td>
<td> Adds tool tips to buttons created using <code>Action</code>s.

</td>
</tr>
</table>


</blockquote>

<img src="../../images/blueline.gif" width="550" height="8" ALIGN="BOTTOM" NATURALSIZEFLAG="3">
<br>
<table width="550">
<tr>
<td align="left" valign="center">
<a href="textapi.html" target="_top"><img src="../../images/PreviousArrow.gif" width="26" height="26" align="center" border="0" alt="Previous Page"></a>
<a href="../TOC.html#components" target="_top"><img src="../../images/TOCIcon.gif" width="26" height="26" align="center" border="0" alt="Lesson Contents"></a>
<a href="tree.html" target="_top"><img src="../../images/NextArrow.gif" width="26" height="26" align="center" border="0" alt="Next Page"></a></td>

<td align="center" valign="center">
<font size="-1">
<a href="../../index.html" target="_top">Start of Tutorial</a>
&gt;
<a href="../index.html" target="_top">Start of Trail</a>
&gt;
<a href="index.html" target="_top">Start of Lesson</a>
</font>
</td>

<td align="right" valign="center">
<font size="-1">
<a href="../../search.html" target="_top">Search</a>
<br><a href="../../forms/sendusmail.html">Feedback Form</a>
</font>
</td>

</tr>
</table>
</body>
</html>
